<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="stateMachine" type="StateMachine.Configuration.StateMachineSection, StateMachine.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <stateMachine defaultStateId="DefaultStateId" xmlns="https://github.com/Mongooz/StateMachine">
    <states>
      <state stateId="DefaultStateId" stateName="Default State">
        <transitions>
          <transition stateId="SecondStateId" />
        </transitions>
      </state>
      <state stateId="SecondStateId" stateName="Default State">
        <transitions>
          <transition stateId="DefaultStateId" />
        </transitions>
      </state>
    </states>
  </stateMachine>
</configuration>